{% extends 'movies/base.html' %}

{% block headers %}
	<!-- importing the movies_list.css stylesheet using the STATIC_URL tag -->
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/movies.css">
{% endblock %}

{% block content %}

{% if movie %}
<ul>
	<li>
	{{movie}}
	</li><br>

	{% for comment in comments %}

	<li>{{comment.text}}</li>

	{% endfor %}
</ul>
{% endif %}



<form action="addcomment" method="post">
	{% csrf_token %}
	Add Comment: <input type="text" name="comment_text"><br>
	<input type="submit" value="Add">
</form>
{% endblock %}